body {
	width:1400px;
	margin: 0 auto;
	position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

}

.row {

	margin:0 auto;
}

@media screen and (min-device-width: 1367px) {
.header {
	width:100%;
	box-sizing: border-box;
	height:700px;
	
	
	background-image: url(header.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
}

.header h1{

	text-align: center;
	font-size: 70px;
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	margin-top: 0px;


}

.header h2{
	margin-top: 211px;
	margin-bottom: 50px;
	text-align: center;
	font-family: Lucida;
	font-size: 42px;
	font-style:italic;
	color:white;
}

body{

	background-color:white;

}

.logo {

	padding-top:42.3px;
	padding-left:238px; 
	float: left;
	position: ;
}
}

@media screen and (min-device-width: 1367px) {

div#menu{
	width:450px;
	height: 14px;
	margin-top: 42.3
	margin-left: 689px;
	
	font-size: 14px;
	color:white;
	background: transparent;
	display: inline;

}

div#menu li {

	display: inline;
	width: auto;
	float: right;
	font-size: 14px;
	color:white;

}

div#menu li:hover {

	
	
	font-size: 14px;
	color:white;
	border: solid 1px grey;
	background-color: grey;
	border-radius: 2px;
}

div#menu ul {
	padding-top: 53px;
	padding-right: 230px;
}
div#menu a {

	font-size: 14px;
	color:white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;


}
.button {

	background-color: #FFCC33;
	border-radius: 3px;
	border-color: #FFCC33;
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	margin:50px auto;
	
	
	text-align: center;
	height: 65px;
	width:240px;
	display: block;
	

}
}
@media screen and (min-device-width: 1367px)
{
.services {

	

	margin: auto;
	width:100%;

	background-color: white;
	height:100%;
	clear:both ;
	margin: auto;
	display: block;
	text-align: center;

}

.services h1 {

	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 38px;
	text-align: center;
	margin-top: 120px;
}

.services h2 {

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;

}

#kolumna_1 {

width:350px;


}

#ikonka {

	padding-top: 60px;

}


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: ;
    background-color: white;
    padding-bottom: 120px;

   
}

.flex-item  {
   
    width: 350px;
    height: ;
   
    padding:0 15px;
 
}



/*for 980px or less*/

/*@media screen and (max-width: 980px) {




	.services {

		height: 100%;

	}


	#pagewrap {

		width:94%;
		margin:0 auto;
	}


	#kolumna_1 {

		width: 200px;
		padding: 1% 4%;
		float: left;

	}

	#kolumna_2 {

		float:left;
		width: 200px;
		padding:15px;
	}

	#kolumna_3 {

		width: 200px;
		float: left;
		padding:15px;
	}

}
*/

/*for 700px or less*/
/*
@media screen and (max-width: 600px) {

	#pagewrap {

		width:94%;
		margin:0 auto;
	}


	#kolumna_1 {

		width: auto;
		padding: 1% 4%;

	}

	#kolumna_2 {

		float:none;
		width:auto;
		padding: 1% 4%;
	}

	#kolumna_3 {

		width: auto;
		float:none;
		padding: 1% 4%;
	}

}



*/

/*for 980px or less*/

/*@media screen and (max-width: 480px) {

	#pagewrap {

		width:100%;
		margin:0 auto;

	}


	#kolumna_1 {

		width: 41%;
		padding: 1% 4%;

	}

	#kolumna_2 {

		float:right;
		width: 41%;
		padding: 1% 4%;
	}

	#kolumna_3 {

		width: auto;
		float:none;
		padding: 1% 4%;
	}
*/

/*our portfolio*/
@media screen and (min-device-width: 1367px) {
.portfolio {
	
	width:100%;
	padding-bottom: 120px;
	background-color: #E6E3DD;
	height:100%;
	clear:both ;
	margin: auto;
	display: block;
	text-align: center;

	}
.portfolio h1, .about_us h1{

	
	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 38px;
	text-align: center;
	
	padding-top: 120px;
	
}




.flex-container2{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: ;
    background-color:;
    padding-bottom: 45px;
    padding-top: 0px;
   
}

.flex-item2  {
   
    width: 290px;
    height: ;
   
    padding:0 15px;
 
}

div.desc {
    
    text-align: center;
    background-color: white;
    width:auto;;
    margin:0 0 ;
    padding-bottom: 10px; 
}

div.gallery {

	margin:0px;
	padding:0px;
	
	background-color: white;
}

div.gallery img {

	text-align: center;
}


div.desc >h4 {
	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 14px;
	margin:0;
}

div.desc >span {


	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	
	text-align: center;
	font-size: 13px;
	margin:0;

}


div.portfolio >h2 {

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;
	margin-bottom: 75px;


}

.about_us {


	background-color: white;
}