/*reset css*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.4em;
	vertical-align: baseline;
	text-decoration: none;
	outline: 0;
	box-sizing: border-box;

}


html {

	background-color: black;
}
body {
	width:1400px; 
	margin: 0 auto;
	position: relative;
    /* width: 100%; */
   min-height
    margin: 0;
    padding: 0;
    /* width: 80%; */
    margin: 0 auto;
    background-color:white;

}

img{

	max-width:100%;
}

.clearfix {
	padding: 0.1px;
}

.header {

 	background-image: url(header.jpg);
	background-size: cover; /* na cala szerokosc diva */
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	/* height: 1000px;  */
	height: 100%; /* w px nie mescil sie przycisk. 100% od...? */
}
.nav {
	width: 100%;
    margin: 0 auto;
	box-sizing: border-box;
	height:50px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
   
}


.naglowek_header {
	
	/* margin:0 auto;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; */
    width: 100%;
    height:  100%;
    margin-bottom: 100px;


    

}
.naglowek_header h1{

	text-align: center;
	font-size: 70px;
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	margin-top: 0px;
	padding-top: 0px;


}

.naglowek_header h2{
	margin-top: 211px;
	margin-bottom: 50px;
	text-align: center;
	font-family: Lucida;
	font-size: 42px;
	font-style:italic;
	color:white;
}



img.logo {

	
	/* padding-left:235px;  */
	 
	float: left;
	position: ;
}


 



.flex-item_logo{
	width:50%; 
	height: 14px;
	margin: 44px 0 0 235px;
}

.flex-item_menu{
	width:50%; 
	height: 14px;
	margin-top: 44px  ;
	float:right;

}









div.flex-item_menu li {

	display: inline;
	width: auto;
	font-size: 14px;
	color:white;

}

div.flex-item_menu li:hover {

	
	
	font-size: 14px;
	color:white;
	border: solid 1px grey;
	background-color: grey;
	border-radius: 2px;
}

div#menu ul {
	
	/*padding-right: 230px;*/
}
div.flex-item_menu a {

	font-size: 14px;
	color:white;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;


}
.button {

	background-color: #FFCC33;
	border-radius: 3px;
	border-color: #FFCC33;
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	margin: 100px auto 0px auto;
	
	cursor: pointer;
	/* margin-bottom: 100px; */
	text-align: center;
	height: 65px;
	width:240px;
	display: block;
	

}


.services {

	

	margin: auto;
	width:100%;

	background-color: white;
	height:100%;
	clear:both ;
	margin: auto;
	display: block;
	text-align: center;

}

.services h1 {

	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 38px;
	text-align: center;
	margin-top: 120px;
}

.services h2 {

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;

}

#kolumna_1 {

width:350px;


}

#ikonka {

	padding-top: 60px;

}


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 120px;

   
}

.flex-item  {
   
    width: 33%;
    height: ;
   
    padding:0 15px;
 
}





/*our portfolio*/

.portfolio {
	
	width:100%;
	padding-bottom: 120px;
	background-color: #f9f9f9;
	height:100%;
	clear:both ;
	margin: auto;
	display: block;
	text-align: center;

	}
.portfolio h1, .about_us h1{

	
	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 38px;
	text-align: center;
	
	padding-top: 120px;
	
}




.flex-container2{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: ;
    background-color:;
    padding-bottom: 45px;
    padding-top: 0px;
   
}

.flex-item2  {
   
    width: auto;
    height: ;
   background-color: white;
    padding:0 0px;
 
}

div.desc {
    
    text-align: center;
    background-color: white;
    width:auto;
    margin:0 0 ;
    padding-bottom: 10px; 
}

div.gallery {

	margin:0px;
	padding:0px;
	width: auto;
	background-image
	background-color: white;
	text-align: center;
}

div.gallery img {

	text-align: center;
	width: auto;
}


div.desc >h4 {
	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 14px;
	margin:0;
}

div.desc >span {


	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	
	text-align: center;
	font-size: 13px;
	margin:0;

}


div.portfolio >h2 {

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;
	margin-bottom: 75px;


}
/*div about us*/
.about_us {


	background-color: white;
}


.about_us h2 {

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;
	margin-bottom: 75px;
}

.about_us h3 {

	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 16px;
	text-align: right;
	margin-bottom: 10px;



}

.flex-item3 , .flex-item4 ,.flex-item5
  {
   
   width: 28%;
   text-align: center;
   margin-right:20px;
   margin-left: 20px;
  
 
}
div.info{

	/* width: 290px; */
	padding: 10px;
	text-align: right;
}
.flex-container3{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:space-around;
    justify-content:space-around;
    width: 100%;
    height: ;
    background-color:;
    padding-bottom: 45px;

  
    
}


.flex-item3#empty,.flex-item4#empty{
	
	background-color: white;
	width:28%;
	border:black solid 1px;
	visibility: hidden;
}

.line_2,.line_3, .line_4, .line_5{


	display: flex;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content:center;
    width: 100%;
    height: ;
    background-color:;
    padding-bottom: 45px;
}
/*zolte kolko z napisem*/
#zolty_napis {
	background-image: url(about_us_5.png);
	width:162px;
	height: 162px;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom:120px;
} /*kolumna ma tlo-obrazek (zolte kolko)*/

 h3#circle {
   
 
  width: 100%;
  margin: 50px auto;
  text-align: center;
  color: white;
  font-family: Helvetica;
} /*margin auto- wysrodkuje w poziomie*/

#zloty_napis > img {

	width: 162px;
	height: 162px;
}

/* OUR AMAZING TEAM */

div.amazing_team {

	
	padding-bottom: 120px;
	background-color:#f9f9f9;
	margin: auto;

} 


.flex-container4{


		display: flex;
		display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: space-between;
	    justify-content:space-between;
	    width: auto;
	    height: ;
	    padding-bottom: 55px;
	    flex-direction:row;
	    align-items: center;

	    
	}
 .amazing_team>h1 {

	font-family:Helvetica;
	font-weight: bold;
	color:black;
	font-size: 38px;
	text-align: center;
	padding-top: 120px;

	
}

div.amazing_team>h2 {


	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;
	margin-bottom: 75px;


}

.amazing_team h3{ 

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	padding-top: 12px;
	text-align: center;
	font-size: 14px;
	
}

 h1#pracownik{ 

	font-family: "Myriad Pro";
	/* font-style: italic; */
	color:black;
	/* padding-top: 25px; */
	text-align: center;
	font-size: 18px;
	padding-top: 26px;
	
}


 .info_pracowniki{

	font-family: "Myriad Pro";
	color:#85888C;
	padding-top: 12px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 120px;
}

			/* CONTACT US */

.contact_us {

	/* display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: ;
    background-color:white;
    padding-bottom: 45px;
    padding-top: 0px; */
   
}


			/* Logos */

.logos {

	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
		/* margin: 0 auto; */


}

.logos img {

	margin: 0 17px;
}

div.img {

	margin-top: 60px;=
	margin-bottom: 60px;
}




.text {

	
    width: 100%;
	background-image: url("contact_us_tlo.jpg");
	background-size: 100%;
	padding-bottom: 115px;
}

.text h1 {

	font-family:Helvetica;
	font-weight: bold;
	color:white;
	font-size: 38px;
	text-align: center;
	padding-top: 120px;
}

.text h2 {

	font-family: "Myriad Pro";
	font-style: italic;
	color:#85888C;
	font-size: 18px;
	text-align: center;
	margin-top: 27px;
}


#form {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content:center;
    justify-content: center;
    width: 100%;
	margin:0 auto;
}


.flex-item6 {


	margin: 50px 20px;
}


#button p {

text-align:  center;


}

#przycisk {

	background-color: #fed136;
	width: 240px;
	height: 65px;
	color: white;
	font-family: "Myriad Pro";
	font-size: 16px;
	border-radius: 3px;
	border-color: #FFCC33;
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	
	cursor: pointer;

}



.button_up {

	
	
	color: white;
	font-family: "Myriad Pro";
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	text-decoration: none;
	cursor: pointer;
	position: fixed;
	left: 90%;
	top: 90%;
}


.button_up> a {

	font-family: "Myriad Pro";
	font-size: 16px;
	text-align: center;
	background-color: black;
	font-family:Helvetica;
	font-weight: bold;
	color:white;
	text-decoration: none;
}



/*for 980px or less*/

/* @media screen and (max-width: 600px) {



	body {

		font-size: 12px;

	} */
/*zamienic wszystkie fonty*/
	/* .services h1 {

		font-size: 15px;

	}



	.services h2 {

		font-size: 14px;
	}

	.services h3 {

		font-size: 13px;
	}

	.header h1{

		font-size: 15px;

	}

	.header h2{

		font-size: 14px;

	}

	.header h3{

		font-size: 13px;

	}


	.portfolio h1{

		font-size: 15px;

	}


	.portfolio h2{

		font-size: 14px;

	}


	.portfolio h3{

		font-size: 13px;

		}

	.about_us  h1{

		font-size: 15px;

	}


	.about_us h2{

		font-size: 14px;

	}


	.about_us h3{

		font-size: 13px;

		}
	
	} */
	
	@media (min-width:481px) and (max-width: 768px) {

	.flex-container, .flex-container3,.line_2,.line_3, .line_4, .line_5, #portfolio{


		display: flex;
		display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: center;
	    justify-content:center;
	    width: auto;
	    height: ;
	    background-color:;
	    padding-bottom: 45px;
	    flex-direction: row;
	    align-items: center;
	    
	}

	body {

		width: 100%;
	} /*tlo zrobilo sie mniejsze niz row z obrazkami, dlatego zrobiłam na caly ekran*/

}

/* dla telefonow */

@media screen and (max-width: 480px) {
	

	.flex-container,.flex-container3,.line_2,.line_3, .line_4, .line_5, #portfolio, {


		display: flex;
		display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: space-between;
	    justify-content:space-between;
	    width: auto;
	    height: ;
	    background-color:;
	    padding-bottom: 45px;
	    flex-direction: column;
	    align-items: center;
	    
	}

	.flex-item3#empty,.flex-item4#empty{
	
	background-color: white;
	width:20%;
	border:black solid 1px;
	visibility: hidden;
}

	.flex-item, .flex-item2 , .flex-item3 , .flex-item4 {

		width: 50%;
	}

	body {

		width: 100%;
	} /*tlo zrobilo sie mniejsze niz row z obrazkami, dlatego zrobiłam na caly ekran*/

}	
	
body {
	width: 100%;
}/*tlo zrobilo sie mniejsze niz row z obrazkami, dlatego zrobiłam na caly ekran*/





